.field {
    width: 112px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-wrapper {
    height: 50%;
    aspect-ratio: 1;
}

.stripe {
    height: 24px;
}