.security {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.password {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 223px;
}