.row-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.stripe-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 114px;
}

.stripe {
    flex-shrink: 1;
}

.title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    text-align: center;
}

.car-number {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.type {
    width: 116px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.created-at {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.actions {
    width: 114px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.icon {
    cursor: pointer;
}

.stripe6 {
    margin-right: 150px;
    height: 5px;
}

.stripe5 {
    margin-right: 116px;
    height: 5px;
}

.stripe4 {
    margin-right: 150px;
    height: 5px;
}

.stripe3 {
    margin-right: 111px;
    height: 5px;
}

.stripe2 {
    margin-right: 111px;
    height: 5px;
}

.stripe1 {
    margin-right: 112px;
    height: 5px;
}