.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.button {
    width: 100%;
    height: 32px;
}