.table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loading-body {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-wrapper {
    width: 50px;
    height: 50px;
}

.stripes {
    display: flex;
    height: 10px;
    width: 100%;
    justify-content: flex-end;
    padding-right: 114px;
}

.stripe6 {
    margin-right: 150px;
}

.stripe5 {
    margin-right: 116px;
}

.stripe4 {
    margin-right: 150px;
}

.stripe3 {
    margin-right: 111px;
}

.stripe2 {
    margin-right: 111px;
}

.stripe1 {
    margin-right: 112px;
}