.modal {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.inputs {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-bottom: 30px;
}