.row-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 24px;
}

.stripe-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 200px;
}

.stripe {
    height: 24px;
}

.cars-count {
    width: 121px;
    display: flex;
    justify-content: center;
}

.cars-processed {
    width: 121px;
    display: flex;
    justify-content: center;
}

.processed-percent {
    width: 121px;
    display: flex;
    justify-content: center;
}

.cars-given-away {
    width: 122px;
    display: flex;
    justify-content: center;
}

.reports-given-away {
    width: 200px;
    display: flex;
    justify-content: center;
}

.reports-percent {
    width: 200px;
    display: flex;
    justify-content: center;
}

.icon {
    cursor: pointer;
}

.stripe6 {
    margin-right: 200px;
    height: 5px;
}

.stripe5 {
    margin-right: 122px;
    height: 5px;
}

.stripe4 {
    margin-right: 121px;
    height: 5px;
}

.stripe3 {
    margin-right: 121px;
    height: 5px;
}

.stripe2 {
    margin-right: 121px;
    height: 5px;
}

.stripe1 {
    margin-right: 180px;
    height: 5px;
}