.select {
    border-radius: 5px;
    background: var(--secondary2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    position: relative;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.chip {
    display: flex;
    gap: 5px;
    align-items: center;
    height: 16px;
    align-items: center;
    padding: 0 5px;
    border-radius: 5px;
    background: var(--primary);
}

.cancel {
    cursor: pointer;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary);
    height: 28px;
    width: 28px;
    border-radius: 5px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid var(--secondary);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--black);

    max-height: 400px;
    overflow: hidden;
    overflow-y: scroll;

    z-index: 1;
    padding: 10px 10px;
}

.menu::-webkit-scrollbar {
    width: 5px;
}

.menu::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 2px;
}

.element {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox {
    cursor: pointer;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    border: 1px solid var(--primary)
}

.active {
    background: var(--primary);
}

.element:hover {
    background: color-mix(in srgb, var(--secondary2), transparent 30%)
}