.row-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    align-items: stretch;
}

.stripe-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 100px;
}

.stripe {
    flex-shrink: 1;
}

.type {
    width: 264px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.created-at {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.actions {
    width: 100px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon {
    cursor: pointer;
}

.stripe3 {
    margin-right: 150px;
    height: 5px;
}

.stripe2 {
    margin-right: 264px;
    height: 5px;
}

.stripe1 {
    margin-right: 150px;
    height: 5px;
}