.title-row {
    display: flex;
    width: 100%;
    height: 58px;
}

.filial {
    width: 150px;
    display: flex;
    justify-content: center;
}

.mechanic {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.dianostic-count {
    width: 222px;
    display: flex;
    justify-content: center;
}

.works-count {
    width: 222px;
    display: flex;
    justify-content: center;
}

.average-diangostic {
    width: 222px;
    display: flex;
    justify-content: center;
}

.reports-count {
    width: 221px;
    display: flex;
    justify-content: center;
}