.sidebar {
    position: fixed;
    height: 100dvh;
    width: 82px;
    background: var(--black);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 69px;
}

.logo-container {
    position: relative;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
        z-index: 1;
        margin-bottom: 5px;
    }
}

.back {
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(255, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    top: 10px;
    width: 110%;
    height: 40px;
    filter: blur(4px);
}