.documents {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.title {
    width: 100%;
    max-width: 280px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 261px;
        text-decoration: underline;
    }
}

.icon {
    width: 14px;
    height: 14px;
    min-width: 14px;
    min-height: 14px;
}