.header {
    display: flex;
    flex-direction: row;
    height: 44px;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
}

.date-container {
    width: 349px;
}

.search-container {
    flex-grow: 1;
    height: 100%;
}

.filters-container {
    display: flex;
    align-items: center;
    justify-content: center;
}