
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.element {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.active {
    background: var(--primary);
}

.checkbox {
    cursor: pointer;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    border: 1px solid var(--primary)
}