.settings {
    width: 100%;
    max-width: 766px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 200px;
}

.logout {
    width: 100px;
    align-self: flex-end;
}

@media (max-width: 800px) {
    .settings {
        width: 90%;
    }
}