.loader-body {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-wrapper {
    height: 28px;
    width: 28px;
}

.select {
    width: 221px;
}